/* ================================= 
  Web Fonts
==================================== */

@font-face {
    src: url('../fonts/Merriweather-Regular.ttf'); font-family:"Merriweather" ;
  }
  
  /* ================================= 
  Base Styles
==================================== */

* {
  font-family: 'Merriweather';
}


header {
  background: rgb(0, 21, 41);
  color: rgb(207, 205, 205);
  padding: 25px;
  font-size: 22px;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 0 0 25em;
}

.flex {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

label {
  display: block;
  padding-bottom: 10px;
  color: grey;
}

footer {
  text-align: center;
  color: rgb(184, 184, 184);
  font-size: 13px;
  margin-bottom: 20px;
  font-style: italic;
}


/* ================================= 
  Base Layout Styles
==================================== */

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-top: 15px;
}


p {
  text-align: center;
  color: rgb(136, 136, 136);
  width: 300px;
  margin: auto;
}

.hr1,
.hr2 {
  margin: 0 20px;
}

.hr1 {
  height: 4px;
  background: black;
  margin-bottom: auto;
  margin-top: 35px;
}

.hr2 {
  height: 2px;
  background: black;
  margin-top: 3px;
}

input,
select {
  background: rgb(233, 233, 233);
  border: none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  text-indent: 15px;
}

input:focus {
  border: solid;
  border-color: rgb(0, 103, 134);
}

fieldset {
  border: none;
}

::placeholder {
  font-style: italic;
  text-align: right;
  color: rgb(197, 196, 196);
}


option:first-child {
  color: rgb(202, 202, 202);
}

.newsletter {
  padding: 0 20px;
  display: flex;
}

.news {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 8px 8px 0;
  height: 20px;
}

textarea {
  background: rgb(233, 233, 233);
  border: none;
  outline: none;
  border-radius: 5px;
  height: 125px;
  width: 100%;
  text-indent: 15px;
  margin-top: 7px;
  margin-bottom: 15px;
}

.btn {
  padding: 0;
  background: rgb(0, 190, 190);
  color: white;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px;
  height: 65px;
}

/* ================================= 
  Media Queries
==================================== */
/* TABLETS */
@media (min-width: 768px) {

  h1 {
    padding-top: 40px;
  }

  p {
    width: 100%;
  }

 .flex {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }

 h2 {
   flex-basis: 100%;
 }

 .flabel {
   flex: 1 0 20%;
   margin: auto;
 }

 input[type=text],
 input[type=number],
 input[type=email],
 input[type=tel] {
   margin: 10px 0;
   flex: 1 0 75%;
 }

 .statess {
  margin: 10px 0;
  flex: 1 0 75%;
 }

 #zip {
  margin-left: 0;
  max-width: 225;
  flex: 0 0 20%;
}

label[for="zip"] {
  flex-grow: 0;
  margin-left: 0;
  margin-right: 2.5%;
}

.btn {
  width: 100%;
}

}